/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EDF6F9;
    background-image: url("images/bgimage-2.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

header {
    background-color: #232536;
    padding: 1em;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #EDF6F9;
    text-decoration: none;
    font-weight: bold;
}

/* Hero Section */
#home {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-top: 120px;
}

.hero {
    position: relative;
    width: 400px;
    background: #0077B5;
    font-size: 15px;
    border-radius: 15px;
    text-align: center;
    padding: 20px; /* Adds space between the text and the borders */ 
  }
  
  .hero::before,
  .hero::after {
    position: absolute;
    content: "";
    width: 20%;
    height: 20%;
    display: flex;
    font-size: 25px;
    font-weight: bold;
    background-color: #232536;
    transition: all 0.5s;
  }
  
  .hero::before {
    top: 0; 
    right: 0; 
    border-radius: 0 15px 0 100%;
  }
  
  .hero::after {
    bottom: 0;
    left: 0;
    border-radius: 0 100%  0 15px;
  }
  
  .hero:hover::before,
  .hero:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all 0.5s;
  }
  
  .hero:hover:after {
    content: "HELLO (❁´◡`❁)";
    display: flex;
    align-items: center;
    justify-content: center;
  }

#home img {
    border-radius: 10%;
}

.button .btn {
    background-color: #C6C7D4;
    color: #081C15;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    float: right;
    margin-right: 350px;
    margin-top: 30px;
}

.button .btn:hover {
    background-color: #2F2F3B;
    color: #ffffff;
}

/* Project Cards */
.project-card {
    margin: 20px;
    padding: 20px;
    border: 1px solid #95D5B2;
    border-radius: 5px;
}

/* Gallery */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --index: calc(1vw + 1vh);
    --transition: cubic-bezier(.1, .7, 0, 1);
}

body{
    background-color: #171623;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.items{
    display: flex;
    gap: 0.4rem;
    perspective: calc(var(--index) * 35);
}

.item{
    width: calc(var(--index) * 3);
    height: calc(var(--index) * 12);
    background-color: #171623;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    filter: grayscale(0.25) brightness(.25);
    transition: transform 1.25s var(--transition), filter 3s var(--transition), width 1.25s var(--transition);
    will-change: transform, filter, rotateY, width;
}

.item::before, .item::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 20px;
    right: calc(var(--index) * -1);
}

.item::after{
    left: calc(var(--index) * -1);
}

.items .item:hover{
    filter: inherit;
    transform: translateZ(calc(var(--index) * 10));
}

/*Right*/

.items .item:hover + *{
    filter: inherit;
    transform: translateZ(calc(var(--index) * 8.5)) rotateY(35deg);
    z-index: -1;
}

.items .item:hover + * + *{
    filter: inherit;
    transform: translateZ(calc(var(--index) * 5.6)) rotateY(40deg);
    z-index: -2;
}

.items .item:hover + * + * + *{
    filter: inherit;
    transform: translateZ(calc(var(--index) * 2.5)) rotateY(30deg);
    z-index: -3;
}

.items .item:hover + * + * + * + *{
    filter: inherit;
    transform: translateZ(calc(var(--index) * .6)) rotateY(15deg);
    z-index: -4;
}


/*Left*/

.items .item:has( + :hover){
    filter: inherit;
    transform: translateZ(calc(var(--index) * 8.5)) rotateY(-35deg);
}

.items .item:has( + * + :hover){
    filter: inherit;
    transform: translateZ(calc(var(--index) * 5.6)) rotateY(-40deg);
}

.items .item:has( + * + * + :hover){
    filter: inherit;
    transform: translateZ(calc(var(--index) * 2.5)) rotateY(-30deg);
}

.items .item:has( + * + * + * + :hover){
    filter: inherit;
    transform: translateZ(calc(var(--index) * .6)) rotateY(-15deg);
}

.items .item:active, .items .item:focus {
	width: 28vw;
	filter: inherit;
	z-index: 100;
	transform: translateZ(calc(var(--index) * 10));
    margin: 0 .45vw;
}

  .three_box_id {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .three_box_id .red {
    background-color: #58A4D4;
    background-image: url('https://cdn.iconscout.com/icon/free/png-512/free-code-forces-logo-icon-download-in-svg-png-gif-file-formats--technology-social-media-vol-2-pack-logos-icons-3029920.png?f=webp&w=256'); /* Add your green logo here */
    background-size: 10%; /* Resize the logo to 40% of its original size */
    background-repeat: no-repeat;
    background-position: center 20%;
    padding-top: 20px;
  }
  
  .three_box_id .blue {
    background-color: #0077B5;
    background-image: url('https://cdn.iconscout.com/icon/free/png-512/free-leetcode-logo-icon-download-in-svg-png-gif-file-formats--technology-social-media-company-vol-1-pack-logos-icons-3030025.png?f=webp&w=256'); /* Add your green logo here */
    background-size: 10%; /* Resize the logo to 40% of its original size */
    background-repeat: no-repeat;
    background-position: center 20%;
    padding-top: 20px;
  }
  
  .three_box_id .green {
    background-color: #1D3557;
    background-image: url('https://cdn.iconscout.com/icon/free/png-512/free-linkedin-logo-icon-download-in-svg-png-gif-file-formats--social-media-pack-logos-icons-916919.png?f=webp&w=256'); /* Add your green logo here */
    background-size: 10%; /* Resize the logo to 40% of its original size */
    background-repeat: no-repeat;
    background-position: center 20%;
    padding-top: 20px;
  }
  
  .three_box_id .three_card_id {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100px;
    width: 250px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 400ms;
  }
  
  .three_box_id .three_card_id p.tip {
    font-size: 1em;
    font-weight: 700;
  }
  
  .three_box_id .three_card_id p.second-text {
    font-size: 0.7em;
  }
  
  .three_box_id .three_card_id:hover {
    transform: scale(1.1, 1.1);
  }
  
  .three_box_id:hover > .three_card_id:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
  }

  .cards{
    align-content: center;
  }
  
  